<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<script>
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
                /*make an HTTP request using the attribute value as the file name:*/
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                        if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                        /*remove the attribute, and call this function once more:*/
                        elmnt.removeAttribute("w3-include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /*exit the function:*/
                return;
            }
        }
    };
</script>
<body>
<div w3-include-html="/resources/form/header.html"></div>
<div w3-include-html="/resources/form/nav-bar.html"></div>

<div class="container-fluid d-flex">
    <div class="left col-2">
        left
    </div>
    <div class="left col-8">
        <h1>Nghe nhạc</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Tên bài hát</th>
                <th scope="col">Ca sĩ trình bày</th>
                <th scope="col">Thể loại</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${music.name}"></td>
                <td th:text="${music.singer}"></td>
                <td th:text="${music.type}"></td>
            </tr>
            <tr>
                <td colspan="3"><audio th:src="${music.path}" controls style="width: 100%;"></audio></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="left col-2">
        right
    </div>
</div>
<div w3-include-html="/resources/form/footer.html"></div>
<script>
    includeHTML();
</script>
</body>
</html>