<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<h1>PRODUCT LIST</h1>
<p>
    <a href="/create">
        ADD NEW PRODUCT
    </a>
</p>
<div th:if="${mess}">
    <span th:text="${mess}"></span>
</div>
<div>
    <form th:action="@{/search}" method="get" novalidate="novalidate">
        <input type="text" name="name">
        <input type="submit" value="Search">
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Producer</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Show Detail</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${productList}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getProducer()}"></td>
        <td th:text="${row.getDescription()}"></td>
        <td><a th:href="@{/{id}/edit(id=${row.getId()})}">Edit</a></td>
        <td><a th:href="@{/{id}/delete(id=${row.getId()})}">Delete</a></td>
        <td><a th:href="@{/{id}/view(id=${row.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>