<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!--header-->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
<section class="ftco-section">
    <div class="container-fluid d-flex m-2">
        <div class="col-2">
            <img src="/bootstrap/img/logo.png" height="100" width="80" alt="logo-furama">
        </div>
        <div class="col-8 justify-content-center">

        </div>
        <div class="col-2 my-3">
            <div class="form-group d-flex justify-content-center m-2">

            </div>
        </div>
    </div>
</section>
<!--header-->
<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a href="/#" class="nav-link">Danh sách</a></li>
                <li class="nav-item"><a href="/#" class="nav-link">Dịch vụ khác</a></li>
                <!--                <%&#45;&#45;                <li class="nav-item"><a href="#" class="nav-link"></a></li>&#45;&#45;%>-->
                <li class="nav-item"><a data-toggle="modal" data-target="#login" class="nav-link">Đăng nhập</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Đăng ký</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--nav bar-->
<div class="container-fluid d-flex">
    <div class="left col-2">
        left
    </div>
    <div class="left col-8">
        <h1>Thêm mới Blog</h1>
        <form method="post" th:action="@{/save}" th:object="${blog}">
                <div class="form-group">
                    <label>Tiêu đề</label>
                    <input type="text" class="form-control" th:field="*{title}"
                           placeholder="Nhập tiêu đề" required>
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <textarea class="form-control" th:field="*{content}" placeholder="Nhập nội dung" rows="3"></textarea>
                </div>
            <div class="form-group">
                <label>Ngày đăng tải</label>
                <input type="date" class="form-control" th:field="*{date}"
                       required>
            </div>
            <div class="form-group">
                <label>Danh mục</label>
                <select class="form-control" th:field="*{category}">
                    <option th:each="category: ${categoryList}" th:value="${category.id}" th:text="${category.name}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block mb-4">Xác nhận</button>
            </div>
        </form>
    </div>
    <div class="left col-2">
        right
    </div>
</div>
<!--footer-->

<!-- Modal Message -->
<!-- Modal Message -->
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Trang chủ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Nhân viên</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Khách hàng</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Dịch vụ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Hợp đồng</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Exam module3</p>
    </footer>
</div>
<script src="/bootstrap/js/jquery-3.6.0.min.js"></script>
<script src="/bootstrap/js/jquery.dataTables.min.js"></script>
<script src="/bootstrap/js/dataTables.bootstrap4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tables').dataTable({
            "dom": 'lrtip',
            "lengthChange": false,
            "pageLength": 10
        });
    });
</script>
<!--footer-->
</body>
</html>