<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>exam module4</title>
</head>
<th:block th:include="/form/header.html"></th:block>
<th:block th:include="/form/nav-bar.html"></th:block>
<body id="body">
<div class="container-fluid d-flex">
    <div class="left col-12">
        <div class="d-flex m-2">
            <div class="col-8">
                <h1>Danh sách câu hỏi</h1>
            </div>
            <div class="col-4 m-2">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Tiêu đề" id="key" name="key"
                               aria-label="Tìm kiếm"
                               value="" aria-describedby="basic-addon2">
                            <select class="custom-select" id="questionTypeSearch" name="questionTypeSearch">
                                <option th:each="questionTypes : ${questionTypeList}" th:value="${questionTypes.id}" th:text="${questionTypes.name}">
                                </option>
                            </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="buttonSearch">Tìm kiếm</button>
                        </div>
                    </div>
            </div>
        </div>
        <div id="message" style="color: dodgerblue;font-size: 24px"></div>
        <div class="d-flex">
            <div class="col-10">
            </div>
            <div class="col-2 text-right">
                <button type="button" class="btn btn-outline-info m-2" style="margin-right: 2px" data-toggle="modal" data-target="#addNewModal">Tạo câu hỏi
                </button>
            </div>
        </div>
<!--        table-striped-->
        <table id="tables" class="table table-hover table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>Loại câu hỏi</th>
                <th>Ngày Đăng</th>
                <th>Tình Trạng</th>
                <th>Tính Năng</th>
            </tr>
            </thead>
            <tbody id="bodyTable">
            <tr th:each="row : ${questionContentList}">
                <td th:text="${row.getTitle()}"></td>
                <td th:text="${row.getQuestionType.getName()}"></td>
                <td th:text="${row.getDateCreate()}"></td>
                <td th:text="${row.getStatus()}"></td>
                <td>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#editModal"
                            th:attr="onclick=|functionEdit('${row.getAnswer}', '${row.getTitle}', '${row.getQuestionType.getName}'
                                                        , '${row.getDateCreate}', '${row.getStatus}', '${row.getContent}')|">Cập nhật</button>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"
                            th:attr="onclick=|functionDelete('${row.getId}', '${row.getTitle}', '${row.getQuestionType.getName}')|">Xóa</button>
                </td>
            </tr>
            </tbody>
        </table>
<!--        <div class="d-flex">-->
<!--            <div class="col-10">-->
<!--            </div>-->
<!--            <div class="col-2 text-right">-->
<!--                     <span>-->
<!--        <a type="button" class="btn btn-outline-info" style="margin-right: 2px" th:if="${questionContentList.hasPrevious()}" th:href="@{/(page = ${questionContentList.number - 1})}">«</a>-->
<!--                    </span>-->
<!--                <span th:each="pageNo: ${#numbers.sequence(0,customerList.totalPages - 1)}">-->
<!--        <a type="button" th:class=" ${pageNo == questionContentList.number}? 'btn btn-info': 'btn btn-outline-info'" style="margin-right: 2px" th:href="@{/(page = ${pageNo})}" th:text="${pageNo}"></a>-->
<!--                    </span>-->
<!--                <span>-->
<!--        <a type="button" class="btn btn-outline-info" style="margin-right: 2px" th:if="${questionContentList.hasNext()}" th:href="@{/(page = ${questionContentList.number +1})}">»</a>-->
<!--                    </span>-->
<!--            </div>-->



<!--        </div>-->

    </div>
</div>
<!-- Modal edit -->
<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-light">
            <div class="modal-header bg-dark" >
                <h5 class="modal-title text-white" id="exampleModalLabeledit">Xem chi tiết câu hỏi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">Tiêu đề:</th>
                        <td id="view-title"></td>
                    </tr>
                    <tr>
                        <th scope="row">Nội dung:</th>
                        <td id="view-content"></td>
                    </tr>
                    <tr>
                        <th scope="row">Phản hồi:</th>
                        <td id="view-answer"></td>
                    </tr>
                    <tr>
                        <th scope="row">Loại câu hỏi:</th>
                        <td id="view-questionType"></td>
                    </tr>
                    <tr>
                        <th scope="row">Ngày đăng:</th>
                        <td id="view-dateCreate"></td>
                    </tr>
                    <tr>
                        <th scope="row">Trạng thái:</th>
                        <td id="view-status"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal edit -->

<!-- Modal delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabeldelete" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-light">
            <div class="modal-header bg-dark" >
                <h5 class="modal-title text-white" >Xóa câu hỏi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="bodyDelete">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <input hidden type="text" name="idDelete" id="idDelete">
                <button type="button" class="btn btn-danger" id="buttonDelete">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->

<!-- Modal addNew -->
<div class="modal fade bd-example-modal-lg" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-light">
            <div class="modal-header bg-dark" >
                <h5 class="modal-title text-white" >Tạo mới câu hỏi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="Nhập tiêu đề" >
                        <p style="color: red" id="valid-title"></p>
                    </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <textarea class="form-control" id="content" name="content" rows="3" placeholder="Nhập nội dung"></textarea>
                    <p style="color: red" id="valid-content"></p>
                </div>
                    <div class="form-group">
                        <label>Loại câu hỏi</label>
                        <select class="custom-select" id="questionType" name="questionType">
                            <option th:each="questionTypes : ${questionTypeList}" th:value="${questionTypes.id}" th:text="${questionTypes.name}">
                            </option>
                        </select>
                        <p style="color: red" id="valid-customerType"></p>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-block mb-4 btn-outline-dark" id="buttonAddNew">Tạo câu hỏi</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal addNew -->
</body>
<th:block th:include="/form/footer.html"></th:block>
<script>
    $('a[href="#"]').on('click', function(event) {
        // code to add the item to shopping cart (AJAX), omitted here
        // Upon successful return of the AJAX data:
        var myRow = $(this).closest('tr');

        myRow.addClass('stylish');

        setTimeout(function() {
            myRow.removeClass('stylish');
        }, 1000);
    });
</script>
</html>