<div style="display: none;" class="loading" id="loading"></div>
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Trang chủ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Nhân viên</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Khách hàng</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Dịch vụ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Hợp đồng</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Exam module4</p>
    </footer>
</div>
<script src="/bootstrap/js/jquery-3.6.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js-exam/menu-nav-bar.js"></script>
<script src="/bootstrap/js-exam/exam.js"></script>
